<%- include('../partials/header.ejs') %>
<div class="jumbotron">
    <h2 class="lead tradelead">Manage trade</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Your pokemon</th>
                <th>Trader's Pokemon</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= poke.pokemon %></td>
                <td><%= poke.offerName %></td>
                <td>
                    <form action="/trades/<%=poke._id %>/deleteoffer?_method=delete" method="POST">
                        <button class="btn btn-success">Revoke Offer</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<%- include('../partials/footer.ejs') %>
